<div class="" style="margin-top:100px; padding:60px">
  <div class="form-header">
    <h2>Edit Profile </h2>
  </div>
  <%# <%= resource_name.to_s.humanize %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="p-3">
        <%= f.input :email, required: true, autofocus: true, label_html: { class: "font-cinzel" } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :nickname,
                required: false,
                label_html: { class: "font-cinzel" },
                label: "Nickname" %>
        <%= f.input :bio,
                label_html: { class: "font-cinzel" },
                label: "Bio"%>
        <%= f.input :photo, as: :file, required: false, label: "Profile Image", label_html: { class: "font-cinzel" } %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    label_html: { class: "font-cinzel" },
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    label_html: { class: "font-cinzel" },
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    label_html: { class: "font-cinzel" },
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions" style="margin-bottom:25px">
        <%= f.submit "Update My Account", class: "form-button" %>
      </div>
    <% end %>

    <%= button_to "Cancel my account", registration_path(resource_name), class: "cancel-button", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>

  </div>
</div>
