<%# <%= cl_image_tag comment.user.photo.key, crop: :fill, class: "avatar" %>
<%= cl_image_tag(comment.user.photo.key, :transformation=>[{:width=>300, :height=> 300, :crop=>"fill"}], crop: :fill, class: "avatar", alt: "avatar") %>

<small>
  <strong class="font-arial"><%= comment.user.nickname %></strong>
  <i><%= comment.created_at.strftime("%a %b %e at %l:%M %p") %></i>
</small>

<p class="font-arial"><%= comment.content %></p>
