<%# MODAL SHOW PAGE %>
<div class="modal fade" id="post-<%= post.id%>-modal" tabindex="-1" aria-labelledby="post-<%= post.id%>-modal-label">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <%# MODAL HEADER %>
      <div class="modal-header">
        <button type="button" class="btn-close bg-gray" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <%# MODAL BODY %>
      <div class="w-100 d-flex justify-content-center px-5 pb-5">
        <div class="w-100">

          <%# POST TITLE %>
          <div class="d-flex mb-5 justify-content-between align-items-center w-100">
            <div class="mt-5 flex-fill">
              <p class="fs-2 fw-bolder post-title font-arial"><%= post.title %></p>
            </div>

            <div>
              <%= render "partials/bookmark", post: post %>
            </div>
          </div>

          <%# CAROUSEL %>
          <div class="w-100">
            <div id="<%= post.id %>-carousel-modal" class="carousel slide">

              <%# IMAGE ACTIVE/NON-ACTIVE SETTING %>
              <div class="carousel-inner">
                <% post.photos.each_with_index do |photo, i| %>
                  <% if i == 0 %>
                    <div class="carousel-item active d-flex justify-content-center carousel-div">
                      <%= cl_image_tag photo.key, crop: :fill, class: "carousel-image", alt: "slide" %>
                    </div>
                  <% else %>
                    <div class="carousel-item carousel-div">
                      <%= cl_image_tag photo.key, crop: :fill, class: "carousel-image", alt: "slide" %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#<%= post.id %>-carousel-modal" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#<%= post.id %>-carousel-modal" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <%# LINK %>
          <div class="my-5">
            <% if post.link != nil %>
              <a href="<%= post.link %>" target="_blank" class="fs-4 font-arial modal-link">LINK TO SOURCE</a>
            <% end %>
          </div>

          <%# POST CONTENT %>
          <div class="my-5">
            <div class="mt-5">
              <p class="fs-4 font-arial"><%= post.content %></p>
              <p class="fs-4 font-arial">Created by: <%= post.user.nickname %> </p>
            </div>
          </div>

        <%# END OF WRAPPERS FOR MODAL BODY%>
        </div>
      </div>


      <%# COMMENT SECTION %>
      <div class="w-100 h-50 p-5">
        <div class="comments-bucket">
          <%# COMMENTS WEBSOCKET %>
          <div data-controller="post-subscription" data-post-subscription-post-id-value="<%= post.id %>" data-post-subscription-target="comments" data-post-subscription-target="likes" data-post-subscription-target="button">
            <% post.comments.each do |comment|%>
              <div class="py-2">
              <%= render "comments/comment", comment: comment %>
              </div>
            <% end %>
          </div>

          <%# CREATE COMMENT %>

          <p class="fs-3 fw-medium mt-5 mb-4 font-arial">Contribute To Discussion</p>


          <%= simple_form_for [post, Comment.new], html: { data: { action: "turbo:submit-end->post-subscription#resetForm" } } do |f| %>
            <%= f.input :content, as: :text, input_html: { rows: 5, cols: 50 }, label_html: {class: "font-cinzel"} %>
            <%= f.submit "Contribute", class: "form-button" %>

          <% end %>
        </div>

        <div class="d-flex">
          <div class="justify-content-center align-items-center w-100">
            <h2 class="text-center" style="justify-content:center">Share this post with others!</h2>
            <div class="text-center">
              <%= qr.html_safe %>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<!--<div class="modal-body">
<div class="container">
<br>
<h1>Post information</h1>
<h3>Title: <%= post.title %></h3>
<h3>Content: <%= post.content %></h3>
<h3>User by: <%= post.user.nickname %> </h3>
<br>
<h1>Comments</h1>
<div data-controller="post-subscription" data-post-subscription-post-id-value="<%= post.id %>" data-post-subscription-target="comments">
  <% post.comments.each do |comment|%>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</div>
<br>
<h3>Create Comment</h3>
<%= simple_form_for [post, Comment.new],
  html: { data: { action: "turbo:submit-end->post-subscription#resetForm" },
  class: "d-flex" } do |f| %>
    <%= f.input :content %>
    <%= f.submit "Upload comment" %>
<% end %>
</div>
</div> -->
<!-- HTML !-->
<%# <button class="button-36" role="button">Button 36</button> %>
