<div class="d-flex">
  <div class= "form-container">
    <div>
      <div class="form-header">
        <% if @post.id == nil %>
          <h1>Create a New Post</h1>
        <% else %>
          <h1>Edit Your Post</h1>
        <% end %>
      </div>
      <%= simple_form_for(@post) do |f| %>
      <div class="form-inputs">
        <%= f.input :title , input_html: {style:"width:500px"}%>
        <%= f.input :category, as: :select, selected: "3D Modeling", collection: ["3D Modeling", "2D Visual Art", "Music Tech"]%>
        <%= f.input :content, as: :text, input_html: { rows: 10 } %>
        <%= f.input :link, as: :text %>
        <% if @post.id == nil %>
          <%= f.input :photos, as: :file, required: false, input_html: { multiple: true } %>
        <% else %>
          <%= f.input :photos, as: :file, required: false, input_html: { multiple: true, value: "#{@post.photos.first}" } %>
        <% end %>
      </div>
        <% if @post.id == nil %>
          <%= f.submit "Create Post", class: "form-button" %>
        <% else %>
          <%= f.submit "Update Post", class: "form-button" %>
        <% end %>
      <% end %>
      </div>
  </div>
  <div class="form-img">
    <img src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80" alt="">
  </div>
</div>
