<main class="py-5 pt-5 ">
<div class="grid-container m-5 pt-5 ps-4">
  <%# Div for grid 1, avatar%>
  <div class="grid-item-avatar"><%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-user-profile ms-3 mt-5", alt: "avatar" %></div>
  <%# Div for grid 2%>
  <div class="grid-item"></div>
  <%# Div for grid 3, page links%>
  <div class="grid-item mt-5">
    <div class="d-flex flex-column align-items-start">
    <p class="font-arial font-gray text-decoration-underline" style="font-weight: 700, ">Navigate To</p>
    <%= link_to "My Posts", "#user-posts", class: "text-decoration-none font-arial font-gray jump-to-link mb-2" %>
    <%= link_to "My Bookmarks", "#user-bookmarks", class: "text-decoration-none font-arial font-gray jump-to-link mb-2" %>
    <%= link_to "Contributions", "#user-contributions", class: "text-decoration-none font-arial font-gray jump-to-link mb-2" %>
    </div>
  </div>
  <%# Div for 4, user profile information %>
  <div class="grid-item">
    <p class="fw-bolder fs-3 font-arial"><%= @user.nickname %></p>
    <p class="fs-5 font-arial"><%= @user.email %></p>
    <% if policy(@user).edit? %>
    <%= link_to edit_user_registration_path(@user), class: "button" do%>
    <button class="button-s">Edit Profile</button>
    <% end %>
    <% end %>
  </div>
  <%# Div for grid 5, bio %>
  <div class="grid-item-center">
    <p class="fs-3 fw-bolder font-arial">Bio</p>
    <p class="fs-4 font-arial fw-light"><%= @user.bio %></p>
  </div>
  <%# Div for grid 6 %>
  <div class="grid-item"></div>
</div>

<!--</div>
  <%# Div for user profile information %>
  <%= cl_image_tag @banner.key, crop: :fill, class: "w-100", style: "height: 325px; object-fit: cover", alt: "banner" %>

  <div class="d-flex px-5 pb-5 pt-50" id="user-info">
    <%# Div for avatar, name, link %>
    <div class="d-flex flex-column align-items-start col-3 p-5">
      <div>
        <div>
         <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar mb-60 w-50 h-50 ms-3", alt: "avatar" %>
        </div>
        <div>
          <p class="fw-bolder fs-3 font-arial"><%= @user.nickname %></p>
          <p class="fs-5 font-arial"><%= @user.email %></p>
          <% if policy(@user).edit? %>
            <%= link_to edit_user_registration_path(@user), class: "button" do%>
              <button class="button-s">Edit Profile</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%# Div for bio %>
    <div class="col-6 d-flex flex-column justify-content-center p-4">
      <p class="fs-3 fw-bolder font-arial pt-190">Bio</p>
      <p class="fs-4 font-arial fw-light"><%= @user.bio %></p>
    </div>
    <%# Div for page links %>
    <div class="col-3 p-5 d-flex flex-column align-items-end">
      <p class="font-arial font-gray text-decoration-underline" style="font-weight: 700, ">Navigate To</p>
      <%= link_to "My Posts", "#user-posts", class: "text-decoration-none font-arial font-gray jump-to-link mb-2" %>
      <%= link_to "My Bookmarks", "#user-bookmarks", class: "text-decoration-none font-arial font-gray jump-to-link mb-2" %>
      <%= link_to "Contributions", "#user-contributions", class: "text-decoration-none font-arial font-gray jump-to-link mb-2" %>
    </div>
  </div> -->

  <%# Div for user created posts %>
  <div class="p-5" id="user-posts">
    <p class="fw-bolder px-5 fs-3 font-arial">Posts</p>

    <%# Image Card %>
    <div class="container py-5">
      <div class="row" data-masonry='{"percentposition": true }'>
        <% @user.posts.each do |post| %>
          <div class="col-sm-6 col-lg-4 mb-4" data-controller="post-subscription" data-post-subscription-post-id-value="<%= post.id %>" data-post-subscription-target="likes" data-post-subscription-user-id-value='<%= current_user.id %>'>
            <div data-post-subscription-target="comments" style="display: none; visibility: hidden;"></div>
            <%# CARD %>
            <div class="cd">
              <div class="relative">
                <%= cl_image_tag post.photos[0].key, crop: :fill, class: "d-block w-100 card-img-top", alt: "collage" %>
              </div>

              <%# **** %>
              <%= render "partials/post_modal", post: post, qr: nil %>

              <%# CARD BODY THAT MOVES IN %>
              <div class="cd-body">
                <h1 class="cd-title"><%= post.title %></h1>
                <h2 class="cd-author">By: <%= post.user.nickname %></h2>


                <%# POST AND LIKE %>
                <div class="d-flex">
                  <button type="button" class="cd-button" data-bs-toggle="modal" data-bs-target="#post-<%= post.id%>-modal">
                    View Post
                  </button>



                  <div class="flex-grow-1"></div>
                </div>


              </div>

              <div class="top-corner d-flex align-items-center py-1 px-2">
                <%# HEART AND LIKE %>
                <div data-post-subscription-target="likes">
                  <%= render "likes/like", post: post %>
                </div>

                <div data-post-subscription-target="button" data-post-subscription-user-id-value="<%= current_user.id %>">
                  <%= render "likes/like_button", post: post %>
                </div>
              </div>

            </div>
          </div>
        <% end %>
        <div class="col-sm-6 col-lg-4 mb-4">
          <%= link_to new_post_path do %>
            <button class="cd-button w-100" type="button fw-medium" style="text-decoration-none">Create Post</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%# Div for user saved posts %>

  <div class="p-5" id="user-bookmarks">
    <p class="fw-bolder px-5 fs-3 font-arial">Bookmarks</p>


    <% if @user.bookmarks.count > 0 %>
      <%# Grid for bookmarked post cards %>
      <div class="container py-5">
        <div class="row" data-masonry='{"percentposition": true }'>
          <% @user.bookmarks.each do |bookmark| %>
            <% post = bookmark.post %>
            <div class="col-sm-6 col-lg-4 mb-4" data-controller="post-subscription" data-post-subscription-post-id-value="<%= post.id %>" data-post-subscription-target="likes" data-post-subscription-user-id-value='<%= current_user.id %>'>
              <div data-post-subscription-target="comments" style="display: none; visibility: hidden;"></div>
              <%# CARD %>
              <div class="cd">
                <div class="relative">
                  <%= cl_image_tag post.photos[0].key, crop: :fill, class: "d-block w-100 card-img-top", alt: "collage" %>
                </div>

                <%# **** %>
                <%= render "partials/post_modal", post: post, qr: nil %>

                <%# CARD BODY THAT MOVES IN %>
                <div class="cd-body">
                  <h1 class="cd-title"><%= post.title %></h1>
                  <h2 class="cd-author">By: <%= post.user.nickname %></h2>


                  <%# POST AND LIKE %>
                  <div class="d-flex">
                    <button type="button" class="cd-button" data-bs-toggle="modal" data-bs-target="#post-<%= post.id%>-modal">
                      View Post
                    </button>



                    <div class="flex-grow-1"></div>
                  </div>


                </div>

                <div class="top-corner d-flex align-items-center py-1 px-2">
                  <%# HEART AND LIKE %>
                  <div data-post-subscription-target="likes">
                    <%= render "likes/like", post: post %>
                  </div>

                  <div data-post-subscription-target="button" data-post-subscription-user-id-value="<%= current_user.id %>">
                    <%= render "likes/like_button", post: post %>
                  </div>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p class="fs-5 px-5 font-arial">You have no bookmarks at this time</p>
    <% end %>
  </div>

  <%# Div for contribution activity %>
  <div class="p-5" id="user-contributions">
    <p class="fw-bolder px-5 fs-3 font-arial">Contribution Activity</p>

    <% @contributions.each do |month, value| %>
      <div class="px-5 mb-4">
        <div class="d-flex align-items-center">
          <div>
            <p class="mb-0 me-2 fs-3 font-arial"><%= month %></p>
          </div>
          <div class="contribution-border-top flex-grow-1">
          </div>
        </div>
        <div class="d-flex contribution-border-left mt-2">
          <div class="month-stat-info pt-2 ps-5">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-star pe-2" style="color: #d9d9d9;"></i>
              <% if value[0].nil? %>
                <p class="fs-5 mb-0 ms-2 font-arial">Created 0 posts</p>
              <% elsif value[0] == 1 %>
                <p class="fs-5 mb-0 ms-2 font-arial">Created 1 post</p>
              <% else %>
                <p class="fs-5 mb-0 ms-2 font-arial">Created <%= value[0] %> posts</p>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-star pe-2" style="color: #d9d9d9;"></i>
              <% if value[1].nil? %>
                <p class="fs-5 mb-0 ms-2 font-arial">Bookmarked 0 posts</p>
              <% elsif value[1] == 1 %>
                <p class="fs-5 mb-0 ms-2 font-arial">Bookmarked 1 post</p>
              <% else %>
                <p class="fs-5 mb-0 ms-2 font-arial">Bookmarked <%= value[1] %> posts</p>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-star pe-2" style="color: #d9d9d9;"></i>
              <% if value[2].nil? %>
                <p class="fs-5 mb-0 ms-2 font-arial">Wrote 0 comments</p>
              <% elsif value[2] == 1 %>
                <p class="fs-5 mb-0 ms-2 font-arial">Wrote 1 comment</p>
              <% else %>
                <p class="fs-5 mb-0 ms-2 font-arial">Wrote <%= value[2] %> comments</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</main>
