          <%# MODAL SHOW PAGE %>
  <div class="modal fade" id="post-<%= post.id%>-modal" tabindex="-1" aria-labelledby="post-<%= post.id%>-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="post-<%= post.id%>-modal-label">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <br>
              <h1>Post information</h1>
              <h3>Title: <%= post.title %></h3>
              <h3>Content: <%= post.content %></h3>
              <h3>User by: <%= post.user.nickname %> </h3>
            <br>
              <h1>Comments</h1>



  <div data-controller="post-subscription" data-post-subscription-post-id-value="<%= post.id %>" data-post-subscription-target="comments">
    <% post.comments.each do |comment|%>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>

  <br>
  <h3>Create Comment</h3>

  <%= simple_form_for [post, Comment.new],
  html: { data: { action: "turbo:submit-end->post-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content %>
    <%= f.submit "Upload comment" %>
  <% end %>

  <%= link_to "Back to posts", posts_path, class: "btn btn-primary m-3" %>
</div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
