<h1>Post Index Page</h1>
<%= link_to new_post_path do %>
  <p>Create New Post</p>
<% end %>


<%# Search bar for filtering posts %>
<div>
  <form action="posts" method="get">
    <label for="keyword">Search Posts by Keyword:</label>
    <input type="text" name="keyword" id="keyword">
    <label for="category">Category</label>
    <select name="category" id="category">
      <% case params[:category] %>
      <% when "3D Modeling" %>
        <option value="3D Modeling" selected="selected">3D Modeling</option>
        <option value="2D Visual Art">2D Visual Art</option>
        <option value="Music Tech">Music Tech</option>
      <% when "2D Visual Art" %>
        <option value="3D Modeling">3D Modeling</option>
        <option value="2D Visual Art" selected="selected">2D Visual Art</option>
        <option value="Music Tech">Music Tech</option>
      <% else %>
        <option value="3D Modeling">3D Modeling</option>
        <option value="2D Visual Art">2D Visual Art</option>
        <option value="Music Tech" selected="selected">Music Tech</option>
      <% end %>
    </select>
    <input type="submit" value="Search">
  </form>
</div>


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class= "row">
      <div class="col-12 col-md-10">

      <%# POST CARDS %>

        <% @posts.each do |post|%>

          <%# INDIVIDUAL CARD %>
          <div class="card shadow p-2 p-md-4" style="background-color: #63FF72" data-controller="post-subscription" data-post-subscription-post-id-value="<%= post.id %>" data-post-subscription-user-id-value="<%= current_user.id %>">
            <div class="card-header border-0 bg-white p-0">
              <%= link_to user_path(post.user) do %>
                <%= cl_image_tag post.user.photo.key, crop: :fill, class: "avatar" %>
                <small>
                  <strong><%= post.user.nickname %></strong>
                  <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
                </small>
              <% end %>


              <div class="post-meta">
                <div class="media d-flex align-items-center justify-content-between" style="background-color: #63FF72">
                  <%# CAROUSEL %>
                  <div id="<%= post.id %>-carousel" class="carousel slide w-100">
                    <div class="carousel-inner">

                      <% post.photos.each_with_index do |photo, i| %>
                        <% if i == 0 %>
                          <div class="carousel-item active">
                            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100", alt: "slide" %>
                          </div>
                        <% else %>
                          <div class="carousel-item">
                            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100", alt: "slide" %>
                          </div>
                        <% end %>
                       <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#<%= post.id %>-carousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#<%= post.id %>-carousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                </div>
              </div>
            </div>
            <div class="card-body py-4 px-0">
              <a href="#">
                  <h3 class="h4 text-center"><%= post.title %></h3>
              </a>
            </div>
            <div class="">
              <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                <div class="post-details mb-3 mb-lg-0">

                        <%# Will update the likes %>
                        <div data-post-subscription-target="likes">
                          <%= render "likes/like", post: post %>
                        </div>

                        <%# Will update the like/unlike button %>
                        <div data-post-subscription-target="button" data-post-subscription-user-id-value="<%= current_user.id %>">
                          <%= render "likes/like_button", post: post %>
                        </div>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#post-<%= post.id%>-modal">
                    View Post
                  </button>
                </div>
                <div class="post-meta">
                  <button class="btn btn-secondary"><span class="far fa-save me-2"></span>Save</button>
                </div>
              </div>
            </div>
          </div>
          <%= render "post_modal", post: post %>
        <% end %>
      </div>
    </div>
  </div>
</section>
