<%# BACKGROUND IMAGE wraps entire index %>
<div class="img-bg"
style="
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./bg-k.jpg);
    height:200vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  ">


  <%# SEARCH BAR FOR FILTERING %>
  <div class="d-flex w-100 justify-content-center padding-60">
      <form action="posts" method="get">
        <label for="keyword" class="label-text ">Search Posts by Keyword</label>
        <input type="text" name="keyword" id="keyword" class="ms-1">
        <label for="category" class="label-text ms-5 ">Category</label>
        <select name="category" id="category" class="ms-1">
          <% case params[:category] %>
          <% when "3D Modeling" %>
            <option value="3D Modeling" selected="selected">3D Modeling</option>
            <option value="2D Visual Art">2D Visual Art</option>
            <option value="Music Tech">Music Tech</option>
          <% when "2D Visual Art" %>
            <option value="3D Modeling">3D Modeling</option>
            <option value="2D Visual Art" selected="selected">2D Visual Art</option>
            <option value="Music Tech">Music Tech</option>
          <% else %>
            <option value="3D Modeling">3D Modeling</option>
            <option value="2D Visual Art">2D Visual Art</option>
            <option value="Music Tech" selected="selected">Music Tech</option>
          <% end %>
        </select>
        <input type="submit" value="Search" class="button-33 ms-5">
      </form>
  </div>


  <%# CARDS AND MODAL FOR POST %>
  <div class= "d-flex flex-wrap margin-20 justify-content-evenly">
    <% @posts.each do |post|%>
      <%# CARD FOR EACH POST%>
      <div class="card-shadow double-border p-4 mx-5 margin-10 bg-card" style="width: 26rem;">
        <%# DIV WRAPS USER INFORMATION AND CAROUSEL%>
        <div>

          <%# USER INFORMATION (IMAGE, NICKNAME, TIME CREATED) %>
          <div class="mt-1 mb-3">
            <%= link_to user_path(post.user), class: "text-decoration-none" do %>
              <%= cl_image_tag post.user.photo.key, crop: :fill, class: "avatar" %>
              <div class="fs-6 mt-2">
                <i class="fs-6 fw-bold text-vibrant-pink"><%= post.user.nickname%></i>
                <i class="fs-7 fw-lighter mx-2 text-vivid-purple"><%= post.created_at.strftime("%a %b %e at %l:%M %p")%></i>
              </div>
            <% end %>
          </div>


          <%# CAROUSEL (POST-META START)%>
          <div class="post-meta">
              <%# CAROUSEL %>
              <div class="media d-flex align-items-center justify-content-between" style="background-color: #63FF72">
                <div id="<%= post.id %>-carousel" class="carousel slide w-100">

                  <%# IMAGE ACTIVE/NON-ACTIVE SETTING %>
                  <div class="carousel-inner">

                    <%# FOR LOOP %>
                    <% post.photos.each_with_index do |photo, i| %>
                      <%# IMAGES IF STATEMETN %>
                      <% if i == 0 %>
                        <div class="carousel-item active">
                          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100", alt: "slide" %>
                        </div>
                      <% else %>
                        <div class="carousel-item">
                          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100", alt: "slide" %>
                        </div>
                      <%# END OF IF STATEMENT %>
                      <% end %>

                    <%# END OF FOR LOOP %>
                    <% end %>

                  <%# END OF IMAGE ACTIVE/NON-ACTIVE SETTING %>
                  </div>


                  <%# BUTTONS FOR ROTATING THROUGH IMAGES %>
                  <button class="carousel-control-prev" type="button" data-bs-target="#<%= post.id %>-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>

                  <button class="carousel-control-next" type="button" data-bs-target="#<%= post.id %>-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>

                </div>
              </div>

              <%# END OF CAROUSEL %>
          </div>

        </div>

        <%# TITLE FOR POST %>
        <div class="card-body py-4 px-0">
          <p class="fs-2 text-black-purple fw-bolder post-title text-center"><%= post.title %></p>
        </div>

        <%# LIKE COUNTER, BUTTONS FOR LIKE, VIEW POST, AND SAVE %>
        <div data-controller="post-subscription" data-post-subscription-post-id-value="<%= post.id %>" data-post-subscription-target="comments" data-post-subscription-target="likes" data-post-subscription-user-id-value='<%= current_user.id %>'>
          <%# FLEX %>
          <div class="d-flex flex-wrap flex-lg-nowrap align-items-bottom justify-content-between">
            <%# LIKES FUNCTIONALITY AND VIEW POST %>
            <div class="post-details mb-3 mb-lg-0">

              <%# LIKE COUNTER %>
              <div data-post-subscription-target="likes">
                <%= render "likes/like", post: post %>
              </div>

              <%# LIKE AND UNLIKE BUTTON %>
              <%# Will update the like/unlike button %>
              <div data-post-subscription-target="button">
                <%= render "likes/like_button", post: post %>
              </div>

              <%# VIEW POST BUTTON %>
              <button type="button" class="button-33" data-bs-toggle="modal" data-bs-target="#post-<%= post.id%>-modal">
                View Post
              </button>

              <%# SAVE BUTTON %>
              <div class="post-meta">
                <button class="button-33"><span class="far fa-save me-2"></span>Save</button>
              </div>

            </div>

          <%# END OF FLEX %>
          </div>
        <%# END OF LIKE COUNTER AND BUTTONS %>
        </div>

      <%# END OF CARD %>
      </div>

      <%# MODAL FOR EACH POST %>
      <%= render "post_modal", post: post %>
    <% end %>
  </div>




  <%# CREATE NEW POST %>
  <div class="d-flex justify-content-center">
    <%= link_to new_post_path do %>
      <button class="button-36" type="button fw-medium">Create New Post</button>
    <% end %>
  </div>

</div>
