<h1>Post Index Page</h1>
<%= link_to new_post_path do %>
  <p>Create New Post</p>
<% end %>

<% @posts.each do |post|%>
  <%= link_to post_path(post) do %>
    <div>
      <p><%= post.title %></p>
      <p><%= post.content %></p>
      <p><%= post.user.nickname %></p>
    </div>
  <% end %>
<% end %>
