<div class= "simple-form fs-5 w-50 container mt-5">
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title, label: false, placeholder: "Title", input_html: {class: "bg-main-green"} %>
    <%= f.input :category,label: false, as: :select, selected: "3D Modeling", input_html: {class: "bg-main-green"},collection: ["3D Modeling", "2D Visual Art", "Music Tech"]%>
    <%= f.input :content,label: false, placeholder: "Content", as: :text, input_html: {rows: 10, class: "bg-main-green"} %>
    <%= f.input :photos,label: false, placeholder: "Photo", as: :file, input_html: { multiple: true, class: "bg-main-green" } %>
    <%= f.submit %>
  <% end %>
</div>
