<%# MODAL BODY %>
<div class="d-flex h-auto justify-content-center bg-soft-purple pt-5 pb-5">
  <div>
    <div class="w-100 d-flex justify-content-center bg-show padding-x-30 padding-t-20-b-80">
        <%# post basic info %>
        <div>
          <div class="d-flex justify-content-center">
            <div class="mt-5 mb-5 ms-5">
              <p class="text-black-purple fs-1 fw-bolder post-title"><%= @post.title %></p>
              <p class="fs-4 text-black-purple"><%= @post.content %></p>
              <p class="fs-4 text-black-purple">Created by: <%= @post.user.nickname %> </p>
            </div>
          </div>
        <%# slides %>
        <div>
          <div id="<%= @post.id %>-carousel" class="carousel slide w-100">
            <div class="carousel-inner">
              <% @post.photos.each_with_index do |photo, i| %>
                <% if i == 0 %>
                  <div class="carousel-item active d-flex justify-content-center">
                    <%= cl_image_tag photo.key, height: 500, width: 500, crop: :fill, class: "d-block w-75 h-75", alt: "slide" %>
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, height: 500, width: 500, crop: :fill, class: "d-block w-75 h-75", alt: "slide" %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#<%= @post.id %>-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#<%= @post.id %>-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <%# comment section %>
    <div class="bg-comment w-100 h-auto">
      <div class="fs-3 fw-medium mt-5 mb-4 text-main-green">Comments</div>
        <div data-controller="post-subscription" data-post-subscription-post-id-value="<%= @post.id %>" data-post-subscription-target="comments">
          <% @comments.each do |comment|%>
            <%= render "comments/comment", comment: comment ,class: "pt-5 pb-5"%>
          <% end %>
        </div>
        <p class="fs-3 fw-medium mt-5 mb-4 text-main-green">Create Comment</p>
        <%= simple_form_for [@post, @comment],
        html: { data: { action: "turbo:submit-end->post-subscription#resetForm" }, class: "d-flex justify-content-between" } do |f| %>
          <%= f.input :content %>
          <%= f.submit "Upload comment", class: "button-33"%>
        <% end %>
      <%# <%= link_to "Back to posts", posts_path, class: "btn bg-vivid-purple bg-opacity-25" %>
  </div>
</div>

<!--<div class="w-100 h-100 d-flex justify-content-center">
  <div class="w-50 p-5 bg-show">
  <%# post basic info %>
    <div class="mt-5 mb-5">
      <h1 class="text-black-purple fw-bolder">Post information</h1>
       <div class="mt-4">
      <p class="fs-4 text-black-purple">Title: <%= @post.title %></p>
      <p class="fs-4 text-black-purple">Content: <%= @post.content %></p>
      <p class="fs-4 text-black-purple">User by: <%= @post.user.nickname %> </p>
       </div>
    </div>
  <%# slides %>
  <div>
    <div id="<%= @post.id %>-carousel" class="carousel slide w-100">
      <div class="carousel-inner">
        <% @post.photos.each_with_index do |photo, i| %>
          <% if i == 0 %>
            <div class="carousel-item active">
              <%= cl_image_tag photo.key, height: 650, width: 860, crop: :fill, class: "d-block w-100", alt: "slide" %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, height: 650, width: 860, crop: :fill, class: "d-block w-100", alt: "slide" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#<%= @post.id %>-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#<%= @post.id %>-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
  </div>


  <%# comment section %>
  <div class="text-black-purple fs-3 fw-bolder mt-5 mb-4">Comments</div>
  <div data-controller="post-subscription" data-post-subscription-post-id-value="<%= @post.id %>" data-post-subscription-target="comments">
  <div data-controller="post-subscription" data-post-subscription-post-id-value="<%= @post.id %>" data-my-controller-id="<%= @post.id %>-comment" data-post-subscription-target="comments" data-post-subscription-target="likes" data-post-subscription-target="button">
    <% @comments.each do |comment|%>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>
  <h3>Create Comment</h3>
  <%= simple_form_for [@post, @comment],
  html: { data: { action: "turbo:submit-end->post-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content %>
    <%= f.submit "Upload comment" %>
  <% end %>
  <%= link_to "Back to posts", posts_path, class: "btn btn-primary m-3" %>
  </div>
</div>
