<!DOCTYPE html>
<html>
  <head>
    <title>Utopie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/978069ea62.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="navbar-gradient p-3 text-main-green border-bottom border-4 border-main-green d-flex justify-content-around align-items-center">
      <div>logo</div>
      <a class="fw-medium text-main-green text-decoration-none" href="#">Playground</a>
      <a class="fw-medium text-main-green text-decoration-none" href="#">Get Inspired</a>
      <a class="fw-medium text-main-green text-decoration-none" href="#">Community</a>
      <button type="button" class="btn bg-vivid-purple bg-opacity-25" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 2rem; --bs-btn-font-size: 1rem;">Log in</button>
    </div>
    <%= yield %>
  </body>
</html>




<%# previous code>
  <%# <body><%= render "shared/navbar" %>
  <%# <%= render "shared/flashes" %>
    <%# <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Utopie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Playground</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Get Inspired</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Community</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> %>
